body{
    padding-top: 70px;
    padding-left: 70px;
    background: white;
    font-size: 50;
    font-family: 'Trade Winds' ;
    
}

button {
    background:blue ;
    margin-right: 50px;
    margin-left: 150px;
    height: 100px;
    width: 200px;
    border: none;
} 


a {
    display: inline-block;
    width: 200px;
    height: 50px;
    background: green;
    text-align: center;
    text-decoration: none;
    color: white;
    outline: black 2px solid;
   
   
}

