body{
    background: white;
    font-size: 50;
    font-family: 'Trade Winds' ;
    
}


a {
    display: inline-block;
    width: 200px;
    height: 50px;
    background: green;
    text-align: center;
    text-decoration: none;
    color: white;
    outline: black 2px solid;
    margin:10px;
   
   
}

